.days {
  border: 2px solid whitesmoke;
  padding: 10px;
  min-width: 240px;
  margin: 0 auto;
}

.days p {
  border-bottom: 1px dashed whitesmoke;
}

.days img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
